    body {
       background-color:#CCCCCC ;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

     input {
     width: 70%;
     height: 22px;
     padding: 0.9rem;
     font-size: 1.5rem;
     border-radius: 5px;
     border: 0;
     margin: 15px;
    }

      .container {
      background: linear-gradient(#1F0D22, #3A1441, #4C1955, #641F6F);
      margin-top: 5px;
      margin-bottom: 6.25rem;
      margin-left: 50px;
      margin-right: 50px;
      border-radius: 10px;
      overflow: hidden;
    }

   .header {
     color: #FECD23;
     padding: 1.25rem;
     font-size: 2.8rem;
     font-weight: 620;
     text-align: center;
  
    }

   .header1 {
    color: azure;
    padding-right: 3.1rem;
    padding-left: 3.1rem;
    padding-top: 1.87rem;
    font-size: 1.5rem;
    text-align: center;
  
   }

   .header2 {
    color: azure;
    padding-right: 3.12rem;
    padding-left: 3.12rem;
    padding-top: 1.8rem;
    font-size: 1.5rem;
    text-align: center;
   }

   .header3 {
    color: azure;
    padding-right: 6.25rem;
    padding-left: 6.25rem;
    padding-top: 1.8rem;
    padding-bottom: 3.12rem;
    font-size: 1.5rem;
    text-align: center;
   }

   .header4 {
    color: azure;
    padding-right: 0.6rem;
    padding-left: 1.25rem;
    padding-top: 1.8rem;
    padding-bottom: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
   }

   .form-register {
    display: flex;
    flex-direction:column;
    align-items: center;
    border: 4px;
    width: 100%;
    
    
    }

   .form-register1 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    
    }

    .card {
    background: linear-gradient(#007BFF, #4063EF, #5A9BF8, #6DC2FD);
    border-radius: 10px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 3.1rem;
    margin: 30px 2px;
    padding: 2.5rem 2.5rem;
    margin-left: 70px;
    margin-bottom: 50px;
    margin-top: 70px;
    box-shadow: 0 0 0 20px #2836D2;
    
    }

    

   .card h2 {
   font-size: 2.1rem;
   text-align: left;
   margin-top: 5px;
   text-align: center;
   }

   .card img {
   width: 200px; 
   height: 200px;
   margin: center;
      
   }

   button{
   background-color:black; 
   font-size: 1.5rem;
   color:white; 
   border-radius:5px;
   margin-top: center; 
   padding:15px; 
   cursor: pointer;
   padding-left: 2.5rem;
   padding-right: 2.5rem;
   
   
   }
   

   .image-group {
    text-align: center;
     
   }

   .col1 {
    background: linear-gradient(#641F6F, #4C1955, #3A1441, #1F0D22);
    margin: 10px 50px 10px;
    border-radius: 15px;
    margin-bottom: 50px;

   }

   @media screen and (max-width: 620px) {
     html { 
      font-size: 10px;
      }

      .col1{
        flex-direction: column;
      }

      .card{
        box-sizing: border-box;
      }
    
    }